
.course{
    background: url('../images/course-bg.png') center center / cover no-repeat;
}

.course-title {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;

    font-size: 43px;
    line-height: 110%;
    color: #333333;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.descr-wrapper{
    margin-bottom: 40px;
}

.course-descr {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5px;

    font-size: 16px;
    color: #666;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.course-wrapper{
    position: relative;
    padding: 40px 15px 56px;
    border: 1px solid #e6e6e6;
    height: 90%;
    margin-bottom: 20px;
    transition: all .2s;
}
.course-wrapper:hover{
    color: #fff;
    transition: all .2s;
}
.course-wrapper::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, #0985f9, #0b72f8, #2f5cf3, #4d40ea, #6809dc);
    transition: all .2s;
    z-index: -1;
}
.course-wrapper:hover::after{
    left: 0;
    width: 100%;
    transition: all .2s;
}

.course-icon{
    height: 75px;
}

.course-text{
    text-align: center;
    margin-top: 28px;
}

.course-icon svg{
    height: 100%;
    width: 100%;
    fill: #2b5ff4;
    transition: all .2s;
}

.course-wrapper:hover .course-icon svg{
    fill: #fff;
    transition: all .2s;
}

@media (max-width: 991px) {
    .course-title{
        font-size: 32px;
    }
    .course-descr{
        font-size: 14px;
    }
    .course-clients{
        padding: 8px;
        font-size: 16px;
        max-width: 300px;
    }
}


@media (max-width: 767px) {
    .course-wrapper{
        gap: 9px;
    }
    .course-clients{
        padding: 8px;
        font-size: 14px;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .course-title{
        font-size: 31px;
    }
    .course-descr{
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .course-clients{
        width: 100%;
    }
}