.course {
    background: url("../images/course-bg.png") no-repeat center top;
    padding: 100px 0;
}

.course-title {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;

    font-size: 43px;
    line-height: 110%;
    color: #333333;
    text-align: center;
    font-family: "Jost", sans-serif;
}

.descr-wrapper {
    margin-bottom: 40px;
}


.course-descr {
    display: block;
    max-width: 830px;
    margin: 0 auto;
    margin-top: 5px;

    font-size: 19px;
    color: #666;
    text-align: center;
    font-family: "Jost", sans-serif;
}

.course-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: calc(25% - 15px);
    height: auto;
    margin: 15px 0;
    padding: 15px 8px 20px;
    transition: all 0.2s;
}

.course-wrapper:hover {
    box-shadow: 0px 0px 15px #888;
    transition: all 0.2s;
}

.course-icon {
    height: 75px;
    width: 75px;
}

.course-icon img {
    width: 100%;
    height: 100%;
}

.course-text {
    margin-top: 28px;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
}

.course-text span {
    font-size: 12px;
    line-height: 13px;
}

.course-icon svg {
    height: 100%;
    width: 100%;
    fill: #2b5ff4;
    transition: all 0.2s;
}

@media (max-width: 991px) {
    .course-title {
        font-size: 34px;
    }
    .course-descr {
        font-size: 17px;
    }
    .course-clients {
        padding: 8px;
        font-size: 16px;
        max-width: 300px;
    }
    .course-wrapper {
        width: calc(33% - 11.5px);
    }
}

@media (max-width: 767px) {
    .course-wrapper {
        gap: 9px;
    }
    .course-title {
        font-size: 28px;
    }
    .course-wrapper {
        width: calc(50% - 10px);
    }
    .course-descr {
        font-size: 15px;
    }
    .course-text {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (max-width: 576px) {
    .course-wrapper {
        width: 100%;
        padding: 15px;
    }
    .course-text {
        font-size: 13px;
    }
    .course-text span {
        font-size: 11px;
    }
}
