.feedback {
    position: relative;
    margin-top: 100px;
    background: url("../images/feedback-bg.jpg") center center   no-repeat;
    background-size: cover;
    padding: 140px 0 138px;
    z-index: 1;
    background-attachment: fixed;
}

.tab-content_text,
.tab-content_img {
    display: none;
}
.tab-content_text.active,
.tab-content_img.active {
    display: block;
    animation: animActive 1s;
}

.feedback .tab-buttons {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #e7e7e742;
    padding-bottom: 20px;
}

.feedback .tab-button {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.feedback .tab-button.active {
    border: 2px solid #fff;
    filter: drop-shadow(0px 0px 6px #fff);
}

.feedback .tab-button img {
    width: 100%;
    height: 100%;
}
.feedback .tab-content_text {
    margin-top: 20px;
    padding: 15px;
    background-color: #ddf1ff35;
    color: #ffffff;
    font-family: "Jost", sans-serif;
}

.feedback-text {
    font-size: 12px;
}

.feedback-info_wrapper {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.feedback-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.feedback-icon img {
    width: 100%;
    height: 100%;
}

.feedback .tab-content_img img {
    width: 100%;
}

.feedback-name {
    font-weight: 700;
    color: #fff;
}

.feedback-position {
    font-size: 12px;
}

@keyframes animActive {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 991px) {
    .feedback .tab-contents {
        margin-top: 20px;
    }
}
