

.footer{
    background-color: #151515;
    color: #999;
    margin-top: 100px;
}

.footer-top{
    padding-top: 90px;
    padding-bottom: 80px;
}

.footer-logo{
    width: 150px;
}

.footer-logo img{
    width: 100%;
}

.footer-social{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 25px;
}

.social-icon{
    width: 35px;
    height: 35px;
}

.social-icon img{
    position: relative;
    width: 110%;
    height: 110%;
    top: -2px;
    left: -2px;
}

.footer-title{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}

.footer-point{
    color: #3946ea;
}

.contact-text{
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-family: 'Jost', sans-serif;
}

.contact-wrapper{
    margin-top: 25px;
}

.contact-span{
    color: #999;
}


@media (max-width: 767px) {
    .footer-title{
        margin-top: 60px;
    }
}