.header {
    position: relative;
    height: 165px;
    z-index: 100;
}

.subheader {
    background: #fff;
    /* height: 54px; */
}

.subheader .row {
    height: 54px;
}

.subheader .info-wrapper {
    display: flex;
}

.subheader  .email {
    padding: 12px 15px 12px 0;
    display: flex;
    align-items: center;
    border-right: 1px solid #c9c9c9;
}

.email-left,
.phone-left {
    display: flex;
    align-items: center;
}

.email-left i,
.phone i {
    background-image: linear-gradient(to left, #0985f9, #0b72f8, #2f5cf3, #4d40ea, #6809dc);
    color: transparent;
    background-clip: text;
    margin-right: 13px;
    font-size: 18px;
}

.email-left span,
.phone-left span {
    font-size: 18px;
    margin-right: 5px;
    font-family: "Jost", sans-serif;
}

.email-link,
.phone-link {
    color: #000;
    font-size: 18px;
}

.email-link:hover,
.phone-link:hover {
    color: #000;
    text-decoration: none;
}

.phone {
    padding: 12px;
}

.phone {
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
}

.header-links ul {
    display: flex;
    margin-left: auto;
}

.header-links ul li {
    list-style: none;
    position: relative;
    border-left: 1px solid #c9c9c9;
}

.header-links ul li::after {
    content: "";
    display: block;
    background-image: linear-gradient(to left, #0985f9, #0b72f8, #2f5cf3, #4d40ea, #6809dc);
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    transition: all 0.2s;
    z-index: 1;
}

.header-links ul li:hover::after {
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.2s;
}

.header-links ul li a {
    position: relative;
    display: block;
    color: #000;
    padding: 15px;
    transition: all 0.2s;
    z-index: 100;
}
.header-links ul li:hover a {
    color: #fff;
    transition: all 0.2s;
}

.header-button {
    flex: 1 0 auto;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    height: 54px;
    padding: 0;
    max-width: 170px;
    border-radius: 0;
}

.header-button::after {
    border-radius: 0;
}

.header-body .container {
    border-bottom: 1px solid #c9c9c937;
}

.header-body .row {
    align-items: center;
}

.header-logo {
    width: 150px;
}

.header-logo img {
    width: 100%;
    height: 100%;
}


.header-nav .list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav .link {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 0 40px 0;
    margin-top: 48px;
    transition: all 0.2s;
}
.header-nav .link:hover {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0b2349;
    display: table;
    background-image: linear-gradient(to left, #0985f9, #0b72f8, #2f5cf3, #4d40ea, #6809dc);
    text-decoration: none;
    transition: all 0.2s;
}
.header-nav .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-image: linear-gradient(to left, #0985f9, #0b72f8, #2f5cf3, #4d40ea, #6809dc);
    transition: all 0.2s;
}
.header-nav .link:hover::after {
    width: 100%;
    left: 0;
    transition: all 0.2s;
}

.header-circles {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-circle {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.header-circle i {
    z-index: 10;
}

.header-circle::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    transition: all 0.2s;
    border-radius: 50%;
    z-index: 1;
}

.header-circle:hover::after {
    width: 100%;
    height: 100%;
    transition: all 0.2s;
}

.header-circle.cart {
    background-image: linear-gradient(to left, #0985f9, #0b72f8, #2f5cf3, #4d40ea, #6809dc);
    color: #fff;
    transition: all 0.2s;
}
.header-circle.cart:hover {
    color: #000;
    transition: all 0.2s;
}
.header-circle.cart::after {
    background-color: #fff;
}

.header-circle.search {
    background-color: #fff;
    color: #000;
    transition: all 0.2s;
}
.header-circle.search:hover {
    color: #fff;
    transition: all 0.2s;
}
.header-circle.search::after {
    background-image: linear-gradient(to left, #0985f9, #0b72f8, #2f5cf3, #4d40ea, #6809dc);
}
.header .hamburger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    background-color: #fff;
    padding: 15px 13px;
    margin-left: auto;
}

.header .hamburger span{
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #000;
}

@media (max-width: 991px) {
    .header .phone {
        display: none;
    }
    .header-nav .list{
        display: none;
        position: absolute;
    }
    .header-logo{
        padding: 15px 0;
    }
    .header-circle{
        width: 45px;
        height: 45px;
    }
    .header .hamburger{
        display: flex;
    }
    .header-logo {
        width: 100px;
    }
}

@media (max-width: 768px) {
    .subheader .info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subheader .row {
        height: 100px;
    }
    .subheader .email{
        border-right: none;
    }
    .header-links ul{
        margin: 0 auto;
    }
    .header-links ul li {
        border-left: none;
    }
    .header-links ul li::after {
        background-image: none;
    }
    .header-links ul li:hover a {
        color: #364aeb;
        transition: all 0.2s;
    }
    .header-button {
        display: none;
    }
    .header-circle.search{
        display: none;
    }
}


@media (max-width: 576px) {
    .header-body .row{
        flex-wrap: nowrap;
    }
}
