.intro {
    background: url("../images/intro-bg.jpg") center center/ cover  no-repeat;
    width: 100%;
    padding: 275px 0 210px 0;
}

.intro h1, .intro p, .intro button{
    transform: translateX(-100%);
    opacity: 0;
    animation-name: animated;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.intro h1 {
    font-size: 60px;
    color: #ffffff;
    line-height: 75px;
    letter-spacing: -0.76px;
    margin-bottom: 12px;
    font-family: 'Jost', sans-serif;

    animation-delay: 0s;
}
 
.intro p{
    color: #ffffff;
    animation-delay: .7s;
    font-size: 19px;
    font-family: 'Jost', sans-serif;
}

.intro-mobile{
    display: none;
    max-width: 400px;
    margin:  40px -15px 0 auto;
    transform: scale(0);
    animation-name: introImgAnimated;
    animation-delay: 1.4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.intro-mobile img{
    width: 100%;
}


.intro button{
    animation-delay: 1.4s;
    margin-top: 20px;
}

@keyframes animated {
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes introImgAnimated {
    100%{
        transform: scale(1);
    }
}


@media (max-width: 991px) {
    .intro{
        background-position: right center;
        padding: 200px 0 170px 0;
    }
}

@media (max-width: 767px) {
    .intro{
        padding: 150px 0 130px 0;
    }
    .intro h1 {
        font-size: 44px;
        line-height: 120%;
    }
    .intro p{
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .intro{
        background-position: left center;
    }
    .intro h1 {
        font-size: 26px;
        line-height: 120%;
    }
    .intro-mobile{
        display: block;
    }
}