.packages{
    background-color: #e4f6ff;
    padding: 102px 0 85px;
}

.packages-title{
    margin-bottom: 40px;
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}

.packages .row > div{
    margin-bottom: 20px;
}

.package-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.package-col:nth-child(1) .package-wrapper{
    background-image: linear-gradient(-45deg, #fde1f9, #fbe9fd, #faf1ff, #fbf8ff, #ffffff);
}
.package-col:nth-child(2) .package-wrapper{
    background-image: linear-gradient(-45deg, #fcf4d1, #fff1e0, #fff4f4, #fffaff, #ffffff);
}
.package-col:nth-child(3) .package-wrapper{
    background-image: linear-gradient(-45deg, #d4ceff, #dfdaff, #eae6ff, #f5f3ff, #ffffff);
}

.package-title{
    font-size: 31px;
    font-weight: 700;
    color: #3a1564;
    font-family: 'Jost', sans-serif;
}

.package-list{
    margin: 30px 0 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.package-item{
    font-size: 14px;
    position: relative;
    font-family: 'Jost', sans-serif;
}
.package-item::before{
    content: url('../images/icons/check.svg');
    position: absolute;
    left: -25px;
    top: 2px;
}

.package-price{
    margin-top: auto;
    font-weight: 800;
    text-align: center;
    margin-top: auto;
    color: #3a1564;
    font-size: 38px;
    font-family: 'Jost', sans-serif;
}

.package-button{
    width: 220px;
    padding: 20px 10px;
    margin: 0 auto;
    margin-top: 20px;
}